{%load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">
        <!--Import materialize.css-->
        {% load staticfiles %}
        <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
        <link rel="icon" type="image/png" href="{% static '/img/avatar.jpg' %}" />
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
           <!-- Title -->
           {%block css%}
        <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css'%}">
    {%endblock%}
    </head>

    <body>
     <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'img/core-img/L.png' %}" alt=""></a>
                        </div>

                        <!-- Top Contact Info -->
                        <div class="top-contact-info d-flex align-items-center">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Av Universitaria, Loja, CA"><img src="{% static 'img/core-img/placeholder.png' %}" alt=""> <span>Av Universitaria, Loja, CA</span></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="wmaldonado506@gmail.com"><img src="{% static 'img/core-img/message.png' %}" alt=""> <span>wmaldonado506@gmail.com</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <div class="hero-slideshow owl-carousel">

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/1.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">

                                <h2 data-animation="fadeInUp" data-delay="300ms">COOP <span>Loja</span> S.A</h2>

                                <a href="/login/" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/5.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">

                                <h2 data-animation="fadeInUp" data-delay="300ms">COOP <span>Loja</span> S.A</h2>

                                <a href="/login/" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/1.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">

                                <h2 data-animation="fadeInUp" data-delay="300ms">get your <span>loan</span> now</h2>
                                 <h2 data-animation="fadeInUp" data-delay="300ms">COOP <span>Loja</span> S.A</h2>
                                <a href="/login/" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

            <!-- Single Slide -->
            <div class="single-slide bg-img">
                <!-- Background Image-->
                <div class="slide-bg-img bg-img bg-overlay" style="background-image: url({% static 'img/bg-img/5.jpg' %});"></div>
                <!-- Welcome Text -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <div class="col-12 col-lg-9">
                            <div class="welcome-text text-center">

                                 <h2 data-animation="fadeInUp" data-delay="300ms">COOP <span>Loja</span> S.A</h2>

                                <a href="/login/" class="btn credit-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Duration Indicator -->
                <div class="slide-du-indicator"></div>
            </div>

        </div>
    </div>
    <!-- ##### Hero Area End ##### -->



        <ul class="sidenav" id="mobile-demo">
            <li><a href="/login/">Login</a></li>
        </ul>


        <div class="parallax-container">
            
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.parallax');
                var instances = M.Parallax.init(elems, {});
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems, {});
            });
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                {% for msg in messages %}
                M.toast({html: '{{msg.message}}', classes: 'rounded'});
                 {% endfor %}
                 });
        </script>
    <!-- ##### Footer Area Start ##### -->
     {% block js %}
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
    {% endblock %}
    </body>
</html>
