{% extends "../index.html" %}

{% block body %}

<nav >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <div class="nav-wrapper z-depth-2 ff9100 orange accent-3" style="border-radius: 20px">
    <a href="" class="brand-logo">Cuentas</a>
    <ul class="right hide-on-med-and-down">
        {%if presentar%}
        <li><a class="button" href="crearCuenta?cedula={{ cedula }}">Nuevo C</a></li>
        {%endif%}
        <li><a class="buttonBack" href="/clientes/">Volver</a></li
    </ul>
 </div>

</nav>

<table >
            <th ><input onchange="recibir()" id="txt_buscar" type="text" style="width: 200px" placeholder="Buscar" value=""></th>
            <th ><a id="boton_buscar" style="background-color: #4e555b; width: 50px; height: 50px; font-size: 25px" class="btn btn-success"><i style="font-size: 20px" class="fab fa-sistrix"></i></a></th>
        </table>
        <script>
            function recibir() {
                var valor = document.getElementById("txt_buscar").value;
                document.getElementById("boton_buscar").href = 'transferencia?txt_buscar='+valor+'&numero={{ cliente }}';
            }
        </script>


{% endblock %}
{% block js %}
<script>
    var eliminar = function(id){
        $.ajax({
            url: "eliminar",
            method: "POST",
            data: { id : id }
        }).success(function( msj ) {
            if(msj == "eliminado"){

            }
            if(msj == "no eliminado"){

            }
            if(msj == "perdido"){

            }
        });
    }
</script>
{% endblock %}