{% extends "../index.html" %}

{% block body %}
<nav>
    <div class="nav-wrapper z-depth-2 ff9100 orange accent-3">
        <a href="#!" class="brand-logo">Clientes</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="nuevo"><i class="material-icons left">playlist_add</i>Nuevo</a></li>
            <li><a href="/clientes/"><i class="material-icons left">keyboard_return</i>Regresar</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col s12">
        <div class="card z-depth-3">
            <div id="printableArea" style="margin: 25px">
                <br>
                <div >
                    <label>Fecha:  </label>{{fecha}}
                </div >
                <div >
                    <label>Numero de cuenta 1: </label>{{cuenta1}}
                </div>
                <div >
                    <label>Numero de cuenta 2: </label>{{cuenta2}}
                </div>
                <div >
                    <label>Tipo de Transaccion: </label>{{tipo}}
                </div>
                <div >
                    <label>Cantidad: $ </label>{{valor}}
                </div>
                <div >
                    <label>Descripcion: </label>{{descripcion}}
                </div>
            </div>
            <div align="center">
                <input type="button" class="waves-effect waves-light btn blue" onclick="printDiv('printableArea')" value="Imprimir" style="margin: 10px" align="center" />
                <a href="/clientes/transaccion" class="waves-effect waves-light btn red"><i class="material-icons left">cancel</i> Cancelar</a>
            </div>
        </div>
    </div>
</div>
<script>
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
{% endblock %}
{% block js %}
{% endblock %}